.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.buttons a {
  border: 1px solid #e8e8e8;
  padding: 0.5em 1em;
  border-radius: 8px;
  background-color: #fff;
  transition: all 300ms ease-in;
}

.buttons a:hover {
  background-color: #e8e8e8;
}
