.color-container {
  width: 8rem;
  height: 8rem;
  /* margin: 0.5rem; */
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.copy-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 200ms ease-in;
}

.color-container.picked {
  border: 2px solid #fff;
}

.color-container:hover .copy-btn {
  opacity: 1;
  cursor: pointer;
}

.color-name {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 10px;
  text-transform: capitalize;
  color: #fff;
}
