.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  gap: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

.palette {
  padding: 1rem;
}

.palette-title {
  margin: 1rem 0;
  color: #373737;
  font-size: 1.25rem;
}

.palette-thumbnail {
  width: 100%;
}
