.main-container {
  position: relative;
  height: 100vh;
  padding-top: 3rem;
}

.color-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 350px;
}
