.palette {
  height: 100vh;
}

.palette-colors {
  height: 80%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.palette-title {
  font-size: 1.5rem;
  font-weight: 500;
}
